@page "/"

<PageTitle>Index</PageTitle>
<b>
 Vos produits sont entre les bonnes mains,on assure: la révision annuelle,L'affutage,le fartage et la bonne Réparation
</b
<body>
@if(isSummer(DateTime.Now))
    {
        <img src="images/velo.jpg" width=100% height=100% />
    }
else if(isWinter(DateTime.Now))
{
        <img src="images/ski.jpg" width=100% height=100% />
}

</body>

@code{
    public bool isSummer(DateTime d)
    {
        bool result = false;
        if (d.Month == 4 || d.Month == 5 || d.Month == 6 || d.Month == 7 || d.Month == 8 || d.Month == 9)
        {
            result = true;
        }
        return result;
    }

    public bool isWinter(DateTime d)
    {
        bool result = false;
        if (d.Month == 1 || d.Month == 2 || d.Month == 3 || d.Month == 10 || d.Month == 11 || d.Month == 12)
        {
            result = true;
        }
        return result;
    }
            
}
