<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestionMagasin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Saisie">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Saisie des données
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Taches">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Taches réalisées
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Travaux">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Travaux réalisés 
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
